
v37 läxa/.classpath
v37 läxa/.project
v37 läxa/.settings/org.eclipse.jdt.core.prefs
v37 läxa/bin/v36_37/Box.class
v37 läxa/bin/v36_37/Upp1.class
v37 läxa/bin/v36_37/Upp2.class
v37 läxa/bin/v36_37/Upp3.class
